Source: pyrometer
Section: net
Priority: optional
Maintainer: maintainer@tezos-kiln.org
Build-Depends: debhelper (>= 9.20160709)

Package: pyrometer
Architecture: all
Depends: nodejs (>= 16)
Description: Tezos node and baker monitoring tool
