Source: pyrometer
Section: net
Priority: optional
Maintainer: maintainer@tezos-kiln.org
Build-Depends: dh-systemd

Package: pyrometer
Architecture: all
Depends: nodejs (>= 16)
Description: Tezos node and baker monitoring tool
